<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LetsGetBlown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0579F221E7AEA0E00DF824A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0579F361E7AEA0E00DF824A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0579F411E7AEA0E00DF824A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
